.box{
    height: 200px;
    border: 0.5px solid black;
    text-align: center;
    padding-top: 80px;
    background: cornsilk;
    font-family: 'Vazir', sans-serif;
}
.pdfobject-container { height: 30rem; border: 1rem solid rgba(0,0,0,.1); }

